build
.gradle
/Module3/.vagrant
/Additional/Module6/.vagrant
/Additional/Module7/.vagrant
/Additional/Module8/.vagrant
/Module8/v2-log-collectioning/.vagrant
/Module9/.vagrant
/Module10/.vagrant
/Module5/MusicStoreTest-master/*.nupkg
/Module5/MusicStoreTest-master/samples/MusicStore/dist
/Module5/MusicStoreTest-master/test/MusicStore.E2ETests/dist
/Module5/MusicStoreTest-master/test/MusicStore.Test/dist
/Module11/terraform/terraform.tfstate
/Module11/terraform/terraform.tfstate.backup
/Module11/terraform/my_key_file
/Module11/terraform/MyPlan.txt
/Module11/terraform/.terraform
